.create-form {
    background-color: $white;
    .form {
        width: 500px;
        margin: 50px 0;
        border-radius: 30px;
        background-color: #0577ae57;
        h1 {
            text-align: center;
            margin-top: 10px;
        }
        input,
        textarea {
            box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
        }
        #name,
        #surname,
        #address,
        #CV,
        #image,
        #phone,
        #price {
            width: 80%;
            margin: 0 auto;
        }
        label {
            margin-left: 50px;
        }
        .form-check input {
            margin-left: 30px;
        }
        #crea {
            display: flex;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
    .nurse-img img{
        width: 520px;
        padding-top: 100px;
        padding-left: 50px;
    }
    @media screen and (max-width: 992px) {
        .container {
            flex-direction: column;
        }
        .form {
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .nurse-img {
            display: none;
        }
      }
      @media screen and (max-width: 520px) {
        .container {
            flex-direction: column;
        }
        h1 {
            font-size: 22px;
        }
        .form {
            width: 280px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .nurse-img {
            display: none;
        }
      }
}
