header {
    flex-grow: 1;
    background: #124691;

    a{
        text-decoration: none;
        color: #fff;

        img {
            width: 200px;
        }
    }
    li.login a {
        text-decoration: none;
        color: #fff;
    }
    li.login i {
        margin-right: 5px;
    }
    li.register {
        border: 1px solid #fff;
        border-radius: 5px;
    }
    li.register:hover {
        background: #c82b60;
        
    }
    li.register a:hover {
        color: #fff;
    }
}