.click {
    button a {
        color: $white;
    }
}
.messages-received,
.reviews-received {
    margin-top: 30px;
    line-height: 40px;
    

    h5 {
        margin-bottom: 60px;
    }

    textarea {
        margin-top: 20px;
        margin-left: 5px;
        margin-bottom: 20px;
    }
}