main {
    margin-top: 90px;
    .filter {
        select, input {
            border: none;
            padding: 10px;
            border-radius: 10px;
            margin-right: 20px;
            background: $white;
            outline: none;

        }
        @supports(-webkit-appearance: none) or (-moz-appearance: none) {
            select {
              -webkit-appearance: none;
              -moz-appearance: none;
            }
            input[type="number"] {
                -webkit-appearance: textfield;
                   -moz-appearance: textfield;
                        appearance: textfield;
              }
              input[type=number]::-webkit-inner-spin-button, 
              input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
              }
          }
        .fa-star {
            color: gold;
        }
    }

    .box-spec {
        // display: flex;
        // justify-content: space-between;
        .btn-spec {
            flex-basis: 168px;
            flex-shrink: 0;
            height: 168px;
            border-radius: 30px;
            box-shadow: 0 0 5px black;
            .fas {
                display: block;
                font-size: 4rem;
            }
            &:hover {
                background-color: #124691;
            }
        }
    }
    .box {
        width: 320px;
        background: linear-gradient(210deg, hsla(0, 0%, 100%, 1) 0%, hsla(201, 100%, 42%, 1) 84%);
        box-shadow: 0 0 5px rgb(19, 19, 19);
        border-color: rgb(19, 19, 19);
    }

    // da qui
    @media screen and (max-width: 767px){
        .spec{
            h1{
                font-size: 24px;
            }
            .box-spec{
                .btn-spec{
                    flex-basis: 135px;
                    height: 135px;
                    padding: 5px 5px !important;
                    margin: 5px !important;
                    .icona{
                        font-size: 45px;
                    }

                    .tit_spec{
                        h4{
                            font-size: 20px;
                        }
                    }

                    // .fas{
                    //     font-size: 55px;
                    // }
                }
            }
        }

        .tools{
            .filter{
                select{
                    width: 70px;
                    height: 22px; 
                    padding:2px; 
                    text-align:center;
                }
                input{
                    width: 70px; 
                    height: 22px; 
                    padding:2px; 
                    text-align:center;
                }
            }
        }

        .doctors-sponsor{
            h2{
                font-size: 24px;
                // color: red;
            }
            .premium{
                padding-left: 0;
                .box{
                    flex-basis: 100%;
                //     padding-bottom: 5px !important;
                //     padding-right: 10px !important;
                //     padding-left: 10px !important;
                }
            }
        }
    }
}