main {
    flex-grow: 2;

    .jumbotron {
        background-image: url(../img/jumbo2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -23px;
        height: 700px;
        position: relative;
        border-radius: 0;

        .titles {
            position: absolute;
            top: 200px;
            left: 180px;
            color: $white;
        }
    }
    .box-spec {
        display: flex;
        gap: 15px;
        .btn-spec {
            flex-basis: 200px;
            height: 200px;
            border-radius: 30px;
            .fas {
                display: block;
                font-size: 4rem;
            }
            &:hover {
                background-color: #124691;
            }
        }
    }
}