main {
    flex-grow: 2;

    .jumbotron {
        height: 700px;
        border-radius: 0;

    }
    .box-spec {
        display: flex;
        gap: 15px;
        .btn-spec {
            flex-basis: 200px;
            height: 200px;
            border-radius: 30px;
            .fas {
                display: block;
                font-size: 4rem;
            }
            &:hover {
                background-color: #124691;
            }
        }
    }
}