.stats { 
    h2{
        margin: 0.5rem 0;
        text-align: center;
    }
    .container-chart{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .canvas-chart {
            flex-basis: 500px;
            margin-bottom: 3rem;
        }
    }
}