* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font-family: sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.mt{
    margin-top: 15px;
}
.mr {
    margin-right: 10px;
}
.mb {
    margin-bottom: 10px;
}
.align-items {
    align-items: center;
}
.justify {
    justify-content: center;
}
.jspace {
    justify-content: space-between;
}
.dodgerblue {
    color: dodgerblue;
}
.mr2 {
    margin-right: 30px;
}
.ml {
    margin-left: 50px;
}
.bw {
    font-weight: bold;
    color: #fff;
}
.white {
    color: #fff;
}

.cont {
    width: 80%;
    margin: 10px auto;
}

.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
    grid-gap: 50px;
}